section.faq 
  .wrapper 
    .faq-container 
      .faq-left 
        h2.global-heading.global-heading--small.faq-heading Frequently asked questions
        a.global-view.faq-view(href='../../pages/contact/contact.html')
          span Contact us for more info
          img(src='../../image/arrow-right-blue.svg')
      .faq-content 
        .accordion
          +accordionItem('01','How much time does it take?','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
          +accordionItem('02','What is your class naming convention?','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
          +accordionItem('03','How do you communicate?','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
          +accordionItem('04','I have a bigger project. Can you handle it?','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
          +accordionItem('05','What is your class naming convention?','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
