section.together
  .together-content 
    h2.global-heading.global-heading--medium Let's build something great together
    p.global-desc.together-desc Nullam vitae purus at tortor mattis dapibus. Morbi purus est, ultricies nec dolor sit amet, scelerisque cursus purus.
    a.button.button-yelow--primary(href='../contact/contact.html') Contact Us