.trademark
    .trademark-count 
        span 100.000+
        small.global-desc Finsweet Users
    .trademark-logos 
        img(src='../../image/trademark-1.png')
        img(src='../../image/trademark-2.png')
        img(src='../../image/trademark-3.png')
        img(src='../../image/trademark-4.png')
        img(src='../../image/trademark-5.png')