section.feature 
  .wrapper 
    .feature-header 
      h2.global-heading.global-heading--medium Design that solves problems, one product at a time
    .feature-list 
      +featureItem('./image/feature-icon-1.svg','Uses Client First','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.')
      +featureItem('./image/feature-icon-2.svg','Two Free Revision Round','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.')
      +featureItem('./image/feature-icon-3.svg','Template Customization','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.')
      +featureItem('./image/feature-icon-4.svg','24/7 Support','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.')
      +featureItem('./image/feature-icon-5.svg','Quick Delivery','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.')
      +featureItem('./image/feature-icon-6.svg','Hands-on approach','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.')