section.home-contact
  .wrapper 
    .home-contact-container 
      .home-contact-left 
        img.home-contact-image(src='./image/contact-image.png')
        .home-contact-content 
          h2.global-heading.global-heading--big.home-contact-heading Building stellar websites for early startups
          p.global-desc.home-contact-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
      .home-contact-form 
        .home-contact-form-title Send inquiry
        .global-desc.home-contact-form-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
        .home-contact-form-inputs 
          input.home-contact-form-input(type='text' placeholder='Your Name')
          input.home-contact-form-input(type='text' placeholder='Email')
          input.home-contact-form-input(type='text' placeholder='Paste your Figma design URL')
        button.button.button-yelow--light.home-contact-form-button Send an Inquiry
        a.global-view.home-contact-form-view(href='./pages/contact/contact.html')
          span Get in touch with us
          img(src='./image/arrow-right.svg')

