section.blog 
  .wrapper 
    .blog-header 
      h2.global-heading.global-heading--medium Our blog 
      a.global-view.blog-view(href='./pages/blog/blog.html')
        span View Blog 
        img(src='./image/arrow-right-black.svg')
    .blog-list
      +blogItem('./image/blog-image-1.png','19 Jan 2022','How one Webflow user grew his single person consultancy from $0-100K in 14 months','See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')
      +blogItem('./image/blog-image-2.png','19 Jan 2022','How one Webflow user grew his single person consultancy from $0-100K in 14 months','See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')
      +blogItem('./image/blog-image-3.png','19 Jan 2022','How one Webflow user grew his single person consultancy from $0-100K in 14 months','See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')