section.job
  .wrapper
    .job-container
      .job-content 
        h2.global-heading.global-heading--medium.job-heading How we work
        p.global-desc.job-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        a.global-view.job-touch(href='./pages/about/about.html') 
          span Get in touch with us
          img(src='./image/arrow-right-blue.svg')
      .job-list 
        +jobItem('./image/job-number-1.png','Strategy','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .')
        +jobItem('./image/job-number-2.png','Wireframing','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .')
        +jobItem('./image/job-number-3.png','Design','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .')
        +jobItem('./image/job-number-4.png','Development','Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .')
