section.project 
  .wrapper 
    .project-header 
      h2.global-heading.global-heading--medium.project-heading View our projects
      a.global-view.project-more(href='./pages/work/work.html')
        span View More
        img(src='./image/arrow-right-black.svg')
    .project-content 
      .project-content-left 
        img(src='./image/project-image-big.png' alt='Project Image!')
        .project-content-container.project-content-container-left 
          .project-content-title Workhub office Webflow Webflow Design
          .global-desc.project-content-desc Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam 
          a.global-view.project-content-view(href='./pages/template/template-detail.html')
            span View project
            img(src='./image/arrow-right-yelow.svg')
      .project-content-right
        .project-content-item 
          img(src='./image/project-image-small-1.png' alt='Project Image!') 
          .project-content-container.project-content-container-right 
            .project-content-title Unisaas Website Design
            a.global-view.project-content-view(href='./pages/template/template-detail.html')
              span View portfolio
              img(src='./image/arrow-right-yelow.svg')
        .project-content-item 
          img(src='./image/project-image-small-2.png' alt='Project Image!') 
          .project-content-container.project-content-container-right 
            .project-content-title Unisaas Website Design
            a.global-view.project-content-view(href='./pages/template/template-detail.html')
              span View portfolio
              img(src='./image/arrow-right-yelow.svg')

          