section.testimonial
  .wrapper 
    .testimonial-container
      .testimonial-left 
        h2.global-heading.global-heading--small.testimonial-heading What our clients say about us
        p.global-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.
      .testimonial-content
        p.testimonial-comment "The best agency we've worked with so far. They understand our product and are able to add new features with a great focus."
        .testimonial-info 
          .testimonial-avatar
            img(src='./image/testimonial-avatar.png')
          .testimonial-infimation 
            .testimonial-name Jenny Wilson
            .testimonial-job Vice President
      .testimonial-buttons
        .testimonial-button 
          i.fas.fa-chevron-left
        .testimonial-button 
          i.fas.fa-chevron-right

        