section.problems 
	.wrapper 
		.problems-container 
			.problems-content 
				span.global-title.problems-title About us
				h2.global-heading.global-heading--big.problems-heading Our designs solve problems
				p.global-desc.problems-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			.problems-image 
				img(src='../../image/problems-image.png')