section.process
  .wrapper 
    .process-container 
      h2.global-heading.global-heading--medium.process-heading The process we follow
      .process-list 
        +processItem('Planning','Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
        +processItem('Conception','Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
        +processItem('Design','Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
        +processItem('Development','Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')