section.team 
  .wrapper 
    .ream-container
      h2.global-heading.global-heading--medium.team-heading Meet our team
      .team-list 
        +teamItem('../../image/team-image-1.png','John Smith','CEO')
        +teamItem('../../image/team-image-2.png','Simon Adams','CTO')
        +teamItem('../../image/team-image-3.png','Paul Jones','Design Lead')
        +teamItem('../../image/team-image-4.png','Sara Hardin','Project Manager')