section.who 
  .wrapper 
    .who-container
      .who-content 
        .who-block 
          span.global-title.who-title Who we are
          h2.global-heading.global-heading--small.who-heading Goal focussed
          p.global-desc.who-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .who-block 
          h2.global-heading.global-heading--small.who-heading Continuous improvement
          p.global-desc.who-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .who-image 
        img(src='../../image/who-image.png')