$blue-dark:#282938;
$blue-tint:#1C1E53;
$blue-primary:#2405F2;
$blue-light:#EEF4FA;

$gray-dark:#535460;
$gray-primary:#BBBBCB;
$gray-light:#F4F6FC;

$yelow-primary:#FCD980;
$yelow-light:#FDE4A6;
$yelow-opacity:#fcd9801a;

:root {
    --section-spacing:128px;
}
