section.our-blog
  .wrapper 
    h2.global-heading.global-heading--medium.our-blog-heading Our Blog
    .blog-list 
      +blogItem('../../image/our-blog-1.png','27 Jan 2021','How one Webflow user grew his single person consultancy from $0-100K in 14 months','See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')
      +blogItem('../../image/our-blog-2.png','27 Jan 2021','How one Webflow user grew his single person consultancy from $0-100K in 14 months','See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')
      +blogItem('../../image/our-blog-3.png','27 Jan 2021','How one Webflow user grew his single person consultancy from $0-100K in 14 months','See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')
      +blogItem('../../image/our-blog-4.png','27 Jan 2021','How one Webflow user grew his single person consultancy from $0-100K in 14 months','See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')
      +blogItem('../../image/our-blog-5.png','27 Jan 2021','How one Webflow user grew his single person consultancy from $0-100K in 14 months','See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')
      +blogItem('../../image/our-blog-6.png','27 Jan 2021','How one Webflow user grew his single person consultancy from $0-100K in 14 months','See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')