section.student 
	.wrapper 
		h2.global-heading.global-heading--medium.student-heading A UX Case Study on Creating a Studious Environment for Students
		span.global-title Andrew Jonson Posted on 27th January 2021
		.student-image 
			img(src='../../image/student-image.png')
		p.global-desc.student-desc Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.
		a.global-view.student-view(href='../../pages/blog-detail/blog-detail.html')
			span Read more
			img(src='../../image/arrow-right-blue.svg')
