section.benefit.benefit-feature 
  .wrapper 
    .benefit-container 
      h2.global-heading.global-heading--medium.benefit-heading The benefits of working with us
      .benefit-list
        +benefitItem('../../image/benefit-icon-1.svg','Customize with ease','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.')
        +benefitItem('../../image/benefit-icon-2.svg','Perfectly Responsive','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.')
        +benefitItem('../../image/benefit-icon-3.svg','Friendly Support','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.')