section.package
	.wrapper 
		.package-header 
			h2.global-heading.global-heading--medium.package-heading Our Pricing Plans 
			p.global-desc When you’re ready to go beyond prototyping in Figma, Webflow is ready to help you bring your designs to life — without coding them.
		.package-list 
			+packageItem('$299','Per Design','Landing Page ','When you\'re ready to go beyond prototyping in Figma,',['All limited links','Own analytics platform','Chat support'],'Get started')
			+packageItem('$399','Multi Design','Website Page  ','When you\'re ready to go beyond prototyping in Figma, Webflow’s ready to help.',['All limited links','Own analytics platform','Chat support','Optimize hashtags','Unlimited users'],'Get started')
			+packageItem('$499 +','Supper Design','Complex Project ','When you\'re ready to go beyond prototyping in Figma, ',['All limited links','Own analytics platform','Chat support','Optimize hashtags','Unlimited users','Assist and Help'],'Contact us')